@page "/chat"


<div class="container">
    <div>
        <ul id="discussion">
            @foreach (var message in messages)
            {
                <li>@message.DisplayText</li>
            }
        </ul>
    </div>

    <input type="text" id="message" class="form-control" bind="@message" />
    <input type="button" id="sendMessage" value="Send" class="btn btn-primary" onclick="@SendMessage" />
</div>

@functions{
    HubConnection connection;
    string message = "";
    List<Message> messages = new List<Message>();

    protected override async Task OnInitAsync()
    {
        connection = new HubConnectionBuilder().WithUrl("/hub/chat").Build();
        connection.On<Message>("broadcastMessage", this.OnBroadcastMessage);
        await connection.StartAsync();
    }

    Task OnBroadcastMessage(Message message)
    {
        messages.Add(message);
        StateHasChanged();
        return Task.CompletedTask;
    }

    async Task SendMessage()
    {
        await connection.InvokeAsync("Send", new Message { Sender = "Blazor Client", Text = message });
        message = "";
    }
}