@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#appModal">
    Open modal
</button>

<Modal Name="appModal">
    <ModalHeader>
        <h4 class="modal-title">Sample</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </ModalHeader>
    <ModalBody>
        <p>Power of Modal!</p>
    </ModalBody>
</Modal>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#msg">
    Open MessageBox
</button>

<div>@msgResult</div>

<MessageBox Name="msg" Title="MessageBox" Buttons="@MessageBoxButton.YesNoCancel" Result="@Result">
    <Message>
        MessageBox Sample
    </Message>
</MessageBox>

@functions{
    string msgResult = "...";

    void Result(MessageBoxResult result)
    {
        msgResult = $"MessageBox {result}";
        StateHasChanged();
    }
}

