@using BlazorSpa.Client.Shared.Components
@inherits MainLayoutComponent

@if (AuthStore.IsAuth)
{
    <div class="sidebar">
        <NavMenu />
    </div>
}

<div class="main">
    @if (AuthStore.IsAuth)
    {
        <div class="d-flex  justify-content-end">
            <div class="p-2 btn">@AuthStore.CurrentUser.Name</div>
            <NavLink class="p-2 btn" href="chat"><span class="oi oi-bell"></span> <span class="badge badge-light">@Hub.UnreadMessages</span></NavLink>
            <NavLink class="p-2 btn" href="logout"><span class="oi oi-account-logout"></span> Logout</NavLink>
        </div>
    }
    else
    {
        <div class="d-flex  justify-content-end">
            <NavLink class="p-2 btn" href="registration"><span class="oi oi-people"></span> Registration</NavLink>
        </div>
    }

    <Provide Value="theme">
        <div class="content px-4 ">
            @Body
        </div>
    </Provide>
</div>
