@inherits BlazorLayoutComponent
@inject IUriHelper UriHelper
@inject AuthStore authStore

@if (authStore.IsAuth)
{
    <div class="sidebar">
        <NavMenu />
    </div>
}

<div class="main bg-dark">
    @if (authStore.IsAuth)
    {
        <div class="top-row px-4">
            <NavLink class="ml-md-auto" href="logout"><span class="oi oi-account-logout"></span> Logout</NavLink>
        </div>
    }
    else
    {
        <div class="top-row px-4">
            <NavLink class="ml-md-auto" href="registration"><span class="oi oi-people"></span> Registration</NavLink>
        </div>
    }

        <Provide Value="theme">
            <div class="content px-4 ">
                @Body
            </div>
        </Provide>
</div>


@functions{
    ThemeInfo theme = new ThemeInfo { ButtonClass = "btn-success" };

    protected override async Task OnInitAsync()
    {
        var token = await JSHelper.GetAccessToken();
        if (string.IsNullOrWhiteSpace(token))
            UriHelper.NavigateTo("/login");
        else
            authStore.IsAuth = true;
    }
}
